/*App.js (StartPage.js) start*/
body {
  width: 100%;
  background-color: rgb(176, 209, 232);
}

.navigation__buttonsform__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 400px;
  box-sizing: border-box;
  margin: 10% auto;
  padding: 4%;
  border: 10px double rgb(101, 103, 109);
  border-radius: 50px;
  background-color: #d2c2c2;
}

.navigation__buttonsform__buttons {
  width: 30%;
  height: 90%;
  border: 5px solid rgba(128, 128, 128, 0.2);
  border-radius: 5%;
  font-family: "Aboreto", cursive;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 5px 5px 20px gray;
  text-shadow: 3px 3px 3px gray;
  transition: all 0.1s;
}

.navigation__buttonsform__buttons:hover {
  width: 35%;
  height: 95%;
  font-size: 30px;
  background-color: black;
  color: white;
  transform-origin: center;
}

.navigation__buttonsform__buttons:active {
  width: 27%;
  height: 85%;
  font-size: 25px;
  transition: left 5px;
}

.addColor:hover {
  background-color: rgba(145, 167, 213, 0.7);
}

.trainingColor:hover {
  background-color: rgba(132, 236, 113, 0.7);
}

.vocabluaryColor:hover {
  background-color: #e8e3e3;
}

.navigation__buttonsform__main__small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 100px;
  height: 300px;
  border: 10px double rgb(101, 103, 109);
  border-radius: 25px;
  align-items: center;
  background-color: #d2c2c2;
}

.navigation__buttonsform__main__small button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0px;
  padding: 0px;
  border: 5px solid rgba(128, 128, 128, 0.2);
  border-radius: 10%;
  font-family: "Aboreto", cursive;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 3px 3px 3px gray;
  box-shadow: 5px 5px 7px gray;
}

.navigation__buttonsform__main__small button:hover {
  width: 80px;
  height: 80px;
  font-size: 40px;
  color: black;
}

.navigation__buttonsform__main__small button:active {
  width: 75px;
  height: 75px;
}

.navigation__buttonsform__main__small button:first-of-type {
  background-color: rgba(145, 167, 213, 0.7);
}

.navigation__buttonsform__main__small button:nth-child(2) {
  background-color: rgba(132, 236, 113, 0.7);
}
.navigation__buttonsform__main__small button:last-of-type {
  background-color: #e8e3e3;
}

@media screen and (max-width: 1200px) {
  .navigation__buttonsform__main {
    flex-direction: column;
  }

  .navigation__buttonsform__buttons {
    width: 90%;
    height: 30%;
  }

  .navigation__buttonsform__buttons:hover {
    width: 95%;
    height: 35%;
  }

  .navigation__buttonsform__buttons:active {
    width: 77%;
    height: 35%;
    font-size: 20px;
    transition: left 5px;
  }
}

@media screen and (max-width: 600px) {
  .navigation__buttonsform__buttons {
    font-size: 20px;
  }

  .navigation__buttonsform__main__small {
    flex-direction: row;
    position: relative;
    left: 0px;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    margin: -10px auto;
    margin-bottom: 100px;
    border-radius: 0px 0px 25px 25px;
  }

  .navigation__buttonsform__main__small button {
    width: 30%;
    height: 70px;
  }

  .navigation__buttonsform__main__small button:hover {
    width: 33%;
    height: 80px;
    font-size: 40px;
  }

  .navigation__buttonsform__main__small button:active {
    width: 33%;
    height: 80px;
    font-size: 40px;
  }
}

/*App.js (StartPage.js) end*/

/* AddWords.js start*/
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputsArea {
  margin: 0 auto;
}

.inputsArea input {
  font-size: 18px;
}

.inputsArea button {
  font-size: 18px;
}

.words {
  margin: 0 auto;
  font-size: 18px;
}

/*AddWords.js end*/

/*Training.js start*/

.training__form {
  margin: 5% auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px;
  width: 400px;
  max-width: 40%;
  box-shadow: 5px 5px 5px 5px green;
  background-color: rgba(132, 236, 100, 0.7);
}

.closeToTop {
  margin: 90px auto;
}

.wrongWords {
  align-items: center;
  width: 35%;
}

.start {
  vertical-align: center;
  justify-content: center;
  box-shadow: 5px 5px 5px 5px green;
  background-color: rgba(132, 236, 100, 0.7);
}

.start div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.start input {
  width: 70px;
  height: 25px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #a1da7d;
  font: 20px/20px "Magneto";
  text-align: center;
}

.start input:focus {
  outline: none;
  background-color: #ace0a7;
}

.start__buttonsForm button {
  width: 30%;
  height: 40px;
  font: 20px/20px "Magneto";
  border: 1px solid white;
  border-radius: 10px;
  background-color: #a1da7d;
}

.start__buttonsForm button:hover {
  width: 31%;
  height: 42px;
  background-color: #37ef0e;
}

.start__buttonStart {
  margin-top: 25px;
}

.start__buttonStart button {
  width: 100%;
  height: 50px;
  font: 25px/30px "Magneto";
  background-color: #a1da7d;
  border: 1px solid white;
}

.start__buttonStart button:hover {
  background-color: #37ef0e;
}

.start__text {
  font: bold 20px/25px "Bookman Old Style";
}

/*TestField*/

.training__question {
  display: flex;
  justify-content: space-between;
  font: bold 20px/25px "Bookman Old Style";
}

.answerMark {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
}

.rightAnswer {
  background-color: rgb(44, 130, 44);
}

.wrongAnswer {
  background-color: rgb(210, 72, 72);
}

.stopDisplay {
  display: none;
}

.training__question p:nth-child(1) {
  width: 15%;
  text-align: left;
}
.training__question p:nth-child(2) {
  width: 25%;
}

.training__question p:nth-child(2) input {
  width: 150px;
  text-align: center;
  font: 22px/25px "Bookman Old Style";
  color: black;
  background-color: rgba(132, 236, 100, 0.7);
  border: 1px solid white;
  border-radius: 25px;
}

.training__question p:nth-child(2) input:disabled {
  border: 1px solid black;
  background-color: rgba(100, 236, 111, 0.7);
}

.training__question p:nth-child(2) input:focus {
  border: 1px solid rgb(56, 77, 17);
  outline: none;
}

.training__question p:nth-child(3) {
  width: 5%;
  display: flex;
  align-items: center;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.training__wordsCounter{
  margin-bottom: 0px;
  padding-top: 15px;
  text-align: center;
  font: 25px/25px "Magneto";
  
}

.training__wordsFromList {
  display: flex;
  font: bold 20px/20px "Bookman Old Style";
}

.training__deleteItem {
  display: flex;
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 40px;
  border: none;
  background-color: rgba(132, 236, 100, 0.7);
}

.list__button__training {
  top: -1px;
  left: -5px;
}

.training__deleteItem span:first-child {
  position: absolute;
  width: 15px;
  top: 9px;
  left: -2px;
  border: 2px solid red;
  background-color: red;
  rotate: 45deg;
}

.training__deleteItem span:last-child {
  position: absolute;
  width: 15px;
  top: 9px;
  left: -2px;
  border: 2px solid red;
  background-color: red;
  rotate: -45deg;
}

.training__knowAll {
  text-align: center;
  font: 35px/40px "Magneto";
}

.training__cheater {
  text-align: center;
  font: bold 20px/28px Georgia;
  color: red;
}

.toBottom {
  margin-bottom: 25px;
}
/*repeat section*/

.training__fromTo__word {
  text-align: center;
  font: 30px/40px "Bookman Old Style";
}

.training__ukrainianTranslation {
  font-family: "Bookman Old Style";
}

.training__fromTo__input {
  width: 80%;
  margin: 0px auto;
  border-radius: 20px;
  font: 25px/30px "Bookman Old Style";
  text-align: center;
}

.training__results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.training__results p:first-child {
  font: italic bold 40px/45px "Broadway";
}

.training__results p:last-child {
  font: 25px/30px "Bookman Old Style";
  text-align: center;
}

.training__end {
  font: 45px/50px "Onyx";
  text-align: center;
}

/*Training page end*/

/*Dictionary page start*/

/*Translation*/
.dictionary__mainPage {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 0px 0px 10px;
}

.dictionary__mainForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  padding: 0px 30px 30px 30px;
}

.dictionary__translationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
}

.dictionary__wordsForTranslation__eng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 30%;
  height: 40px;
}

.dictionary__wordsForTranslation__ukr {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 70%;
  height: 52px;
  border: 5px double grey;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 30px;
  text-align: center;
  background-color: #e8e3e3;
}

.dictionary__wordsForTranslation__eng input {
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  border: 5px double grey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 15px;
  font: 25px/30px times;
  text-align: center;
  background-color: rgb(215, 223, 222);
}

.dictionary__wordsForTranslation__eng input:focus {
  background-color: white;
  outline: none;
}

.dictionary__wordsForTranslation__english {
  position: relative;
}

.dictionary__wordsForTranslation__englishInput {
  position: relative;
  z-index: 2;
  border: 1px solid grey;
}

.dictionary__wordsForTranslation__ukrainian {
  font: 25px/20px times;
}

.dictionary__wordsForTranslation__hints {
  display: none;
  position: absolute;
  top: 30px;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  border: 5px double grey;
  border-top-left-radius: 150px;
  border-radius: 5px;
  font: italic 20px/30px times;
  text-align: left;
  color: black;
  background-color: white;
  overflow: hidden;
}

.dictionary__wordsForTranslation__hints ul {
  padding: 0 0 0 10px;
  list-style-type: none;
}

.dictionary__wordsForTranslation__hints ul li:hover {
  color: blue;
  cursor: pointer;
}

/*Vocabluary*/

.dictionary__vocabluary__list {
  list-style-type: none;
}

.dictionary__mainForm__alphabetAndVocab {
  display: flex;
  width: 100%;
}

.alphabetAndVocab__active {
  position: relative;
  justify-content: space-between;
}

.dictionary__alphabet {
  box-sizing: border-box;
  width: 70%;
  height: 300px;
  margin-left: 15%;
  padding: 10px;
  border: 5px double grey;
  background-color: rgb(215, 223, 222);
  transform-origin: left;
  transition: margin-left 0.5s, width 0.5s;
  cursor: pointer;
}

.alphabet__active {
  width: 40%;
  margin-left: -10%;
  border-right: none;
}

.dictionary__alphabet td {
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  font: 25px/30px times;
  text-align: center;
}

.dictionary__alphabet td:hover {
  border: 2px solid green;
  font: bold 30px/30px times;
  color: rgb(3, 89, 151);
  background-color: #e8e3e3;
}

.dictionary__vocabluary__listHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  width: 0.5%;
  min-height: 350px;
  max-height: 400px;
  padding: 0 0 20px 0;
  border: 5px double grey;
  border-radius: 0px 50px 50px 50px;
  font: 22px/24px times;
  background-color: #e8e3e3;
  opacity: 0;
  overflow: hidden;
  transition: width 0.5s;
}

.listHolder__active {
  right: 0px;
  z-index: 2;
  width: 70.5%;
  max-height: none;
  opacity: 1;
}

.dictionary__vocabluary__buttonSection {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0px;
  text-align: center;
}

.dictionary__vocabluary__list__button {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -30px;
}

.dictionary__vocabluary__list__button:hover {
  background-color: blue;
}

.dictionary__vocabluary__list__button span:first-child {
  position: absolute;
  top: 6px;
  left: 1px;
  width: 10px;
  border: 2px solid black;
  transform: rotate(90deg);
}

.dictionary__vocabluary__list__button span:last-child {
  position: absolute;
  top: 6px;
  left: 1px;
  width: 10px;
  border: 2px solid black;
}

.list__button__training {
  position: relative;
}

.dictionary__vocabluary__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 15px;
}

.dictionary__vocabluary__buttons button {
  width: 25%;
  height: 30px;
  border: 2px double grey;
  border-radius: 5px;
  font: 20px/25px "Magneto";
  background-color: #ebe9e1;
}

.dictionary__vocabluary__buttons button:hover {
  background-color: #fff;
}
.dictionary__vocabluary__buttons button:active {
  background-color: blue;
}

.dictionary__vocabluary__buttons button:first-child {
  width: 50%;
}
.dictionary__vocabluary__buttons button:last-child {
  width: 50%;
}

.dictionary__vocabluary__buttonSection__currentPage {
  width: 35px;
  height: 35px;
  font: 24px/30px "Magneto";
  text-align: center;
}

.dictionary__vocabluary__buttonSection__countOfPages {
  font: 25px/30px "Magneto";
}

@media screen and (max-width: 1250px){
  
    .dictionary__mainForm__alphabetAndVocab {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
      }
    
    .alphabetAndVocab__active {
        position: static;
        justify-content: space-between;
      }
    
    .dictionary__alphabet {
        position: static;
        margin-left: 0%;
        width: 100%;
        border-left: 5px double grey;
      }
    .alphabet__active {
        border-right: 5px double grey;
    }

      /*words list*/ 

      .listHolder__active {
        position: static;
        width: 100%;
        max-height: none;
        border-top-right-radius: 0px;
        opacity: 1;
      }
}

@media screen and (max-width: 600px) {
    .dictionary__mainPage {
        padding: 0px 0px 0px 0px;
      }
    
    .dictionary__mainForm__alphabetAndVocab {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 300px;
      }
    
    .alphabetAndVocab__active {
        position: static;
        justify-content: space-between;
      }
    
    .dictionary__alphabet {
        position: static;
        margin-left: 0%;
        width: 100%;
        border-left: 5px double grey;
      }
    .alphabet__active {
        border-right: 5px double grey;
    }

      /*translation*/

      .dictionary__translationBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        width: 300px;
        height: 120px;
        margin-bottom: 25px;
        
      }
      
      .dictionary__wordsForTranslation__eng {
        display: flex;
        width: 80%;
        height: 50px;
      }
      
      .dictionary__wordsForTranslation__ukr {
        width: 130%;
        height: 50px;
        border: 5px double grey;
        text-align: center;
        background-color: #e8e3e3;
      }
      /*words list*/ 

      .listHolder__active {
        position: static;
        width: 100%;
        max-height: none;
        border-top-right-radius: 0px;
        opacity: 1;
      }
      
}

/*MyWordsButtons*/

.temporaryList {
  display: none;
  position: absolute;
  top: 150px;
  right: 5px;
  z-index: 5;
  width: 25%;
  height: 500px;
  padding: 10px;
  border: 5px double grey;
  border-radius: 50px 0px 0px 50px;
  background-color: #e8e3e3;
  overflow: auto;
}

.temporaryList li {
  margin-bottom: 5px;
}

.temporary__deleteWord:hover {
  font-size: 17px;
  color: red;
  cursor: not-allowed;
}

.temporary__buttons__section {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 5px;
}

.temporaryButton {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  border: 5px double rgb(106, 163, 78);
  border-radius: 15px;
  font: 18px/22px Georgia;
  background-color: #d3e089;
}

.temporaryButtonClear {
  width: 70px;
  height: 40px;
  border: 5px double rgb(233, 192, 192);
  border-radius: 15px;
  font: 18px/22px Georgia;
  color: white;
  background-color: #a62a2a;
}

/*navigation */

@media screen and (max-width: 600px) {

  .temporary__buttons__section {
    flex-direction: row;
    top: 108px;
    right: 80px;
    z-index: 0Ð¶;
  }

  .temporaryButton {
    z-index: 1;
    width: 150px;
    height: 60px;
  }

  .temporaryButtonClear {
    z-index: 0;
    width: 100px;
    height: 50px;
    margin-left: -10px;
    padding: 0 10px 0 10px;
    text-align: center;
  }

  .temporaryList {
    z-index: 2;
    width: 90%;
    height: 500px;
    margin: 50px 0 0 0;
    border-radius: 50px 50px 50px 50px;
  }

  /*trainiing section */

  /*Trainig.js*/

  .training__mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }

  /* end */

  /*WordTestForm.js*/

  .training__form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    margin: 5% auto;
    border: 2px solid green;
    border-radius: 15px;
  }

  .start__buttonStart button {
    font: 20px/20px "Magneto";
  }

  .training__question {
    display: flex;
    width: 100%;
  }

  .training__question p:nth-child(2) {
    display: block;
    width: 50%;
  }

  .training__question p:last-child {
    display: none;
  }

  .training__question__rightWord {
    color: green;
  }

  .training__question__wrongWord {
    color: red;
  }

  .wrongWords {
    display: flex;
    padding: 0px;
    text-align: left;
  }

  .training__wordsFromList {
    margin-left: -30px;
    font: bold 18px/30px "Bookman Old Style";
  }

  .toBottom {
    width: 30%;
  }

  /*dictionary secction*/
 
}
