/* AddWords.js*/
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputsArea {
    margin: 0 auto;
}

.inputsArea input {
    font-size: 18px;
}

.inputsArea button {
    font-size: 18px;
}

.words {
    margin: 0 auto;
    font-size: 18px;
}


/*AddWords.js end*/

/*App.js (main page)*/
body{
    background-color: rgb(213, 214, 212);
}

.mainButtonsTemplate{
    margin: 15% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 400px;
    padding: 4%;
    border: 10px double rgb(101, 103, 109);
    border-radius: 50px;
    box-sizing: border-box;
}

.chooseButtons {
    width: 30%;
    height: 90%;
    border: 5px solid rgba(128, 128, 128, 0.2);
    border-radius: 5%;
    transition: all 0.1s;
    font-family: "Aboreto", cursive;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 3px 3px 3px gray;;
    box-shadow: 5px 5px 20px gray;
}

.chooseButtons:hover {
    color: white;
    width: 35%;
    height: 95%;
    transform-origin: center;
    background-color: black;
    font-size: 30px;
}

.add:hover{
    background-color: rgba(145, 167, 213, 0.7);
}

.training:hover {
    background-color: rgba(132, 236, 113, 0.7);
}

.vocabluary:hover {
    background-color: rgba(212, 222, 148, 0.7);
}

.vocabluary:active {
    background-color: rgba(212, 222, 148, 0.7);
    font-size: 25px;
}

.chooseButtons:active {
    transition: left 5px;
    width: 27%;
    height: 85%;
    font-size: 25px;
}

.hideElement {
    display: none;
}

@media screen and (max-width: 1200px){
    .mainButtonsTemplate{
        flex-direction: column; 
    }

    .chooseButtons {
        width: 90%;
        height: 30%;
    }

    .chooseButtons:hover {
        width: 95%;
        height: 35%;
    }

    .chooseButtons:active {
        transition: left 5px;
        width: 77%;
        height: 35%;
        font-size: 20px;
    }
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;

}
/*App.js (main page end)*/

/*Training.js start*/

.training__main {
    width: 100%;
    min-height: 100vh;
    border-top: 1px solid green;
    background-color: rgba(132, 236, 100, 0.7);
}   

.training__form {
    position: static;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
    width: 400px;
    max-width: 40%;
    box-shadow: 5px 5px 5px 5px green;
    background-color: rgba(132, 236, 100, 0.7);
}

.closeToTop {
    margin: 90px auto;
}

.wrongWords {
    align-items: center;
    width: 35%;
}

.start { 
    vertical-align: center;
    justify-content:center;
    box-shadow: 5px 5px 5px 5px green;
    background-color: rgba(132, 236, 100, 0.7);
}

.start div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.start input{
    width: 70px;
    height: 25px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #a1da7d;
    font: 20px/20px "Magneto";
    text-align: center;
}

.start input:focus {
    outline: none;
    background-color: #ace0a7;
}

.start__buttonsForm button{
    width: 30%;
    height: 40px;
    font: 20px/20px "Magneto";
    border: 1px solid white;
    border-radius: 10px;
    background-color: #a1da7d;
}

.start__buttonsForm button:hover{
   width: 31%;
   height: 42px;
   background-color: #37ef0e;
}

.start__buttonStart {
    margin-top: 25px;
}

.start__buttonStart button{
    width: 100%;
    height: 50px;
    background-color: #a1da7d;
    border: 1px solid white;
    font: 25px/30px "Magneto";
}

.start__buttonStart button:hover {
   background-color: #37ef0e;
}

.start__text{
    font: bold 20px/25px "Bookman Old Style";
}

/*TestField*/

.page {
    height: 100vh;
}

.training__question {
    display: flex;
    justify-content: space-between;
    font: bold 20px/25px "Bookman Old Style";
}

.answerMark {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
}

.rightAnswer {
    background-color: rgb(44, 130, 44);
}

.wrongAnswer {
    background-color: rgb(210, 72, 72);
}
  
.stopDisplay {
    display: none;
}

.training__question p:nth-child(1) {
    text-align: left;
    width: 15%;
}
.training__question p:nth-child(2) {
    width: 25%;
}

.training__question p:nth-child(2) input{
    width: 150px;
    font: 22px/25px "Bookman Old Style";
    text-align: center;
    color: black;
    background-color: rgba(132, 236, 100, 0.7);
    border: 1px solid white;
    border-radius: 25px;
}

.training__question p:nth-child(2) input:disabled{
    background-color: rgba(100, 236, 111, 0.7);
    border: 1px solid black;
}

.training__question p:nth-child(2) input:focus{
    outline: none;
    border: 1px solid rgb(56, 77, 17);
}

.training__question p:nth-child(3) {
    width: 5%;
    display:flex;
    align-items: center;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.training__wordsFromList {
    display: flex;
    font: bold 20px/20px "Bookman Old Style";
}

.training__deleteItem{
    display: flex;
    position: relative;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    border: none;
    background-color: rgba(132, 236, 100, 0.7);
}

.training__deleteItem span:first-child {
    position: absolute;
    top: 9px;
    left: -2px;
    width: 15px;
    border: 2px solid red;
    rotate: 45deg;
    background-color: red;
}

.training__deleteItem span:last-child {
    position: absolute;
    top: 9px;
    left: -2px;
    width: 15px;
    border: 2px solid red;
    rotate: -45deg;
    background-color: red;
}


/*repeat section*/

.training__fromTo__word{
    text-align: center;
    font: 30px/40px "Bookman Old Style";
}


.training__ukrainianTranslation{
    font-family: "Bookman Old Style";
}

.training__fromTo__input{
    margin: 0px auto;
    width: 80%;
    font: 25px/30px "Bookman Old Style";
    text-align: center;
    border-radius: 20px;
}

.training__results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training__results p:first-child{
    font: italic bold 40px/45px "Broadway"
}

.training__results p:last-child{
    font:  25px/30px "Bookman Old Style";
    text-align: center;
}

.training__end{
    font: 45px/50px "Onyx";
    text-align: center;
}

/*Training page end*/

/*Dictionary page start*/

/*Translation*/
.dictionary__mainPage {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color:  rgba(212, 222, 148, 0.7);
    padding: 10px 0px 0px 10px;
      
}

.dictionary__mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px;    
}

.dictionary__translationBar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
}

.dictionary__wordsForTranslation__eng {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 30%;
    height: 40px;
}

.dictionary__wordsForTranslation__ukr {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    width: 70%;
    height: 52px;
    border: 5px double grey; 
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 30px;
}

.dictionary__wordsForTranslation__eng input {
    width: 100%;
    height: 52px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 15px;
    background-color: white;
    font: 25px/30px times;
    text-align: center;
    box-sizing: border-box;
    border: 5px double grey;;
}

.dictionary__wordsForTranslation__eng input:focus {
    outline: none;
    background-color: white;
}

.dictionary__wordsForTranslation__english{
    position: relative;
}

.dictionary__wordsForTranslation__englishInput{
   position: relative;
   border: 1px solid grey;
   z-index: 2;
}

.dictionary__wordsForTranslation__ukrainian{
    font: 25px/20px times;
}

.dictionary__wordsForTranslation__hints{
    display: none;
    position: absolute;
    text-align: left;
    width: 100%;
    background-color: white;
    font: italic 20px/30px times;
    color: black;
    top: 30px;
    border: 5px double grey;
    border-top-left-radius: 150px;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1;
    display: none;
    overflow: hidden;
}

.dictionary__wordsForTranslation__hints ul{
   list-style-type: none;
   padding: 0 0 0 10px;
}

.dictionary__wordsForTranslation__hints ul li:hover{
    color: red;
    cursor: pointer;
 }
 
/*Vocabluary*/

.dictionary__vocabluary__list{
    list-style-type: none;
}

.dictionary__mainForm__alphabetAndVocab {
    display: flex;
    width: 100%;
}

.alphabetAndVocab__active{
    position: relative;
    justify-content: space-between;
}

.dictionary__alphabet{
    margin-left: 15%;
    width: 70%;
    height: 300px;
    border: 5px double grey;
    padding: 10px;
    cursor: pointer;
    transform-origin: left;
    transition: margin-left 0.5s, width 0.5s;
    box-sizing: border-box;
}

.alphabet__active{
    width: 40%;
    margin-left: -10%;
    transition: margin-left 0.5s, width 0.5s;
    border-right: none;
}

.dictionary__alphabet td{
    border: 2px solid grey;
    text-align: center;
    width: 50px;
    height: 50px;
    font: 25px/30px times
}

.dictionary__alphabet td:hover{
    border: 2px solid green;
    font: 30px/30px times;
    background-color: white;
    color: blue;
}

.dictionary__vocabluary__listHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 20px 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    width: 70.5%;
    min-height: 322px;
    border: 5px double grey;
    box-sizing: border-box;
    transition: width 0.5s, opacity 1s;
    font: 22px/24px times;
}

.listHolder__active{
    right: 0px;
    z-index: 2;
    opacity: 1;
}

.dictionary__vocabluary__buttonSection{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-bottom: 0px;
}

.dictionary__vocabluary__list__button {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 2px;
}

.dictionary__vocabluary__list__button:hover {
    background-color: green;
}

.dictionary__vocabluary__list__button:hover + span {
    border: 2px solid yellow;
}

.dictionary__vocabluary__list__button span:first-child{
    position: absolute;
    width: 10px;
    top: 6px;
    left: 1px;
    border: 2px solid black;
    transform:rotate(90deg)
}

.dictionary__vocabluary__list__button span:last-child{
    position: absolute;
    top: 6px;
    left: 1px;
    width: 10px;
    border: 2px solid black;
}

.dictionary__vocabluary__buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 15px;
}

.dictionary__vocabluary__buttons button{
    width: 25%;
    border: 2px double grey;
    border-radius: 5px;
    background-color: #ede3c1;
    height: 30px;
    font: 20px/25px "Magneto"
}
.dictionary__vocabluary__buttons button:first-child{
    width: 50%;
}
.dictionary__vocabluary__buttons button:last-child{
    width: 50%;
}

.dictionary__vocabluary__buttonSection__currentPage {
    width: 35px;
    height: 35px;
    text-align: center;
    font: 24px/30px "Magneto"
}

.dictionary__vocabluary__buttonSection__countOfPages{
    font: 25px/30px "Magneto"
}

/*MyWordsButtons*/

.temporaryList {
    display:none;
    position: absolute;
    right: 5px;
    top: 100px;
    width: 200px;
    height: 500px;
    background-color: #fff;
}

.temporaryButton{
    position: absolute;
    right: 5px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.temporaryButtonClear{
    position: absolute;
    right: 5px;
    top: 60px;
    width: 50px;
    height: 20px;
    background-color: #fff;
}